<section>  
        <div class="blog-box">
            <a href="/blog/{{id}}">
            <div class="header">
                <div class="title">{{title}}</div>
                <div class="date">By {{user.firstName}} {{user.lastName}} {{format_date timeStamp}}</div>
            </div>
            </a>
            <div class="text">
                <p>{{body}}</p>
            </div>
        </div>
    
</section>